In [3]:
import pandas as pd
import json
input_name = "refrigerators_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [4]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [5]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 17
Total number of unique 'ean's: 83

In [6]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,AWy0uQOnJa1kp7EkmSI-,NaN,NaN,Fisher & Paykel,NaN,"Refrigerator Trim Kits & Paneling,Range & Oven...","Stainless Steel,Ezkleen Stainless Steel",NaN,2019-08-21T15:08:39Z,2024-06-10T04:24:03Z,...,NaN,NaN,NaN,NaN,8.228433e+11,NaN,8.228433e+11,NaN,NaN,1.4 lbs
1,BvkbYHIBUbef_7uTqjlX,NaN,B00AYGOZMO,MAXX Cold,NaN,"Refrigerators,Appliances,Display Refrigerators...",NaN,NaN,2020-05-29T11:05:25Z,2024-06-09T22:50:44Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lifetechnology.com-3886678147132,NaN
2,AV13J5kNGV-KLJ3akSBt,NaN,B00316GTXC,Summit Appliance,NaN,"Major Appliances,Compact Refrigerators,Refrige...","other,Stainless Steel",NaN,2017-07-25T00:31:10Z,2024-06-09T22:36:54Z,...,NaN,NaN,NaN,NaN,7.611010e+11,NaN,7.611010e+11,NaN,"lifetechnology.com-3886744993852,walmart.com-1...",113 lbs
3,AWnmJOv0M263mwCqx0-G,NaN,B073BYK71H,Galanz,NaN,"Compact Refrigerators,Appliances,Home & Kitche...","Silver,Black",NaN,2019-04-04T02:05:48Z,2024-06-09T21:23:53Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lifetechnology.com-3886935670844,—
4,AV1d2tS_GV-KLJ3ad0JU,NaN,B00CJ6SJGA,Summit Appliance,NaN,"Major Appliances,Compact Refrigerators,Refrige...",Other,NaN,2017-07-20T02:36:48Z,2024-06-09T19:33:58Z,...,NaN,NaN,NaN,NaN,7.611010e+11,NaN,7.611010e+11,NaN,"walmart.com-42DJBG3TSTDU,lifetechnology.com-38...",120 lbs

In [7]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [8]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [9]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,AWy0uQOnJa1kp7EkmSI-,8.228433e+11,AKRS30041,8.228433e+11,"[{""key"":""What's Included"",""value"":[""Fisher & P..."
1,BvkbYHIBUbef_7uTqjlX,NaN,NaN,NaN,"[{""key"":""Date First Available"",""value"":[""Janua..."
2,AV13J5kNGV-KLJ3akSBt,7.611010e+11,NaN,7.611010e+11,"[{""value"":[""December 17, 2009""],""key"":""Date Fi..."
3,AWnmJOv0M263mwCqx0-G,NaN,555506763,NaN,"[{""value"":[""June 26, 2017""],""key"":""Date First ..."
4,AV1d2tS_GV-KLJ3ad0JU,7.611010e+11,NaN,7.611010e+11,"[{""key"":""Title"",""value"":[""Default Title""]},{""k..."

In [10]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,AWy0uQOnJa1kp7EkmSI-,8.228433e+11,AKRS30041,8.228433e+11,"[{""key"":""What's Included"",""value"":[""Fisher & P...",[]
1,BvkbYHIBUbef_7uTqjlX,NaN,NaN,NaN,"[{""key"":""Date First Available"",""value"":[""Janua...","[Date First Available, Leaf Node Id, Parent No..."
2,AV13J5kNGV-KLJ3akSBt,7.611010e+11,NaN,7.611010e+11,"[{""value"":[""December 17, 2009""],""key"":""Date Fi...",[]
3,AWnmJOv0M263mwCqx0-G,NaN,555506763,NaN,"[{""value"":[""June 26, 2017""],""key"":""Date First ...",[]
4,AV1d2tS_GV-KLJ3ad0JU,7.611010e+11,NaN,7.611010e+11,"[{""key"":""Title"",""value"":[""Default Title""]},{""k...",[]

In [11]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [12]:
df.to_csv(output_name , index=False)

In [13]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [14]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)

Total number of rows after removal: 45
Total number of columns after removal: 6

In [15]:
df.to_csv(output_name2, index=False)