In [2]:
import pandas as pd
import json
input_name = "Coffee-Machines_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [3]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [4]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 95
Total number of unique 'ean's: 5

In [5]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,AW4JUwHz0Rejpz6vqFAy,https://redsky.target.com/redsky_aggregations/...,NaN,BLACK+DECKER,NaN,"Coffee Espresso Makers,Black & Decker,Small Ki...",NaN,NaN,2019-10-26T18:27:45Z,2024-06-11T11:12:25Z,...,NaN,NaN,NaN,NaN,5.087582e+10,NaN,5.087582e+10,NaN,"target.com-91770718,walmart.com-802617703",4.7 lb
1,AWw-qtNZ0Rejpz6vIrog,NaN,NaN,Argos Home,NaN,"Home and garden,Home and furniture,Mug trees,K...",NaN,NaN,2019-07-29T16:57:58Z,2024-06-11T08:01:19Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,O1_0cXIBo6SyyXo0BuNZ,NaN,B075Z6VW82,AMAZON,NaN,"Coffee, Tea & Espresso,Matcha Bowls & Whisks,H...",White,NaN,2020-06-01T22:15:17Z,2024-06-11T03:15:54Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"domajax.com-4351126437950,onlinesocialshop.com...",1.45 lbs
3,AWFbE7PruC1rwyj_nKX5,https://redsky.target.com/redsky_aggregations/...,B00451GL9O,PRIMULA,NaN,"Coffee & Espresso Makers,Coffee & Tea Makers,K...","Chrome,Multicolor,Black,Coffee,Steel,NO COLOR",NaN,2018-02-03T09:48:11Z,2024-06-10T20:53:33Z,...,NaN,NaN,NaN,NaN,7.226513e+11,NaN,7.226513e+11,NaN,"walmart.com-57YX9Q7ZTIIU,walmart.com-291403768...",1.22 lb
4,AW7yooAy-9SQAxjdyL9P,NaN,NaN,Capresso,NaN,"small appliances,kitchen and food,kitchen & food",NaN,NaN,2019-12-11T01:46:06Z,2024-06-10T13:42:57Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [7]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [8]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,AW4JUwHz0Rejpz6vqFAy,5.087582e+10,050875820951,5.087582e+10,"[{""key"":""Date First Available"",""value"":[""Decem..."
1,AWw-qtNZ0Rejpz6vIrog,NaN,NaN,NaN,"[{""key"":""Overall Rating Count"",""value"":[""593"",..."
2,O1_0cXIBo6SyyXo0BuNZ,NaN,NaN,NaN,"[{""key"":""Date First Available"",""value"":[""Septe..."
3,AWFbE7PruC1rwyj_nKX5,7.413931e+11,RNAB00451GL9O,7.226513e+11,"[{""value"":[""Imported""],""key"":""Origin""},{""value..."
4,AW7yooAy-9SQAxjdyL9P,NaN,NaN,NaN,NaN

In [9]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,AW4JUwHz0Rejpz6vqFAy,5.087582e+10,050875820951,5.087582e+10,"[{""key"":""Date First Available"",""value"":[""Decem...","[Date First Available, Warranty, Capacity (Vol..."
1,AWw-qtNZ0Rejpz6vIrog,NaN,NaN,NaN,"[{""key"":""Overall Rating Count"",""value"":[""593"",...","[Overall Rating Count, Rating (Design), Overal..."
2,O1_0cXIBo6SyyXo0BuNZ,NaN,NaN,NaN,"[{""key"":""Date First Available"",""value"":[""Septe...","[Date First Available, Leaf Node Id, Parent No..."
3,AWFbE7PruC1rwyj_nKX5,7.413931e+11,RNAB00451GL9O,7.226513e+11,"[{""value"":[""Imported""],""key"":""Origin""},{""value...","[Origin, New, Power Source, Gift Wrapable, Lab..."
4,AW7yooAy-9SQAxjdyL9P,NaN,NaN,NaN,NaN,[]

In [10]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [11]:
df.to_csv(output_name , index=False)

In [12]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [13]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)

Total number of rows after removal: 66
Total number of columns after removal: 6

In [14]:
df.to_csv(output_name2, index=False)